<!--To add Nav Bar from main.html we use extend-->
{% extends 'store/main.html' %}
<!--Now refer to  line 12-->

<!--Loading static directory for css and images-->
{% load static %}

<!--loading css from static's css directory - main.css for styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<!--We extended Navbar from main.html in 1st line-->
<!--Now we'll set where the context is gonna save -->

{% block content %}

<div class="row">
    <div class="col-lg-12">

        <!--Header-->
        <div class="box-element">
            <!-- https://www.toptal.com/designers/htmlarrows/symbols/ -->
            <!-- The above website lets us add symbols, characteristics etc -->
            <!-- &#x2190; This code gives back arrow -->
            <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
            <br>
            <table class="table">
                <tr>
                    <th>
                        <h5>Items: <strong> {{order.get_cart_items}} </strong></h5>
                    </th>

                    <th>
                        <h5>Total: PKR <strong> {{order.get_cart_total|floatformat:2}} </strong></h5>
                    </th>

                    <th>
                        <a style="float:right" ; margin:5px; class="btn btn-success" href="{% url 'checkout' %}">Total:
                            PKR.
                            <strong> {{order.get_cart_total|floatformat:2}} </strong></a>
                    </th>
                </tr>
            </table>
        </div>

        <br>

        <!--Table Below Header-->
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"></div> <!--Column for product Image-->
                <div style="flex:2"><strong> Item </strong></div> <!--Title-->
                <div style="flex:2"><strong> Price </strong></div> <!--Price-->
                <div style="flex:2"><strong> Quantity</strong></div> <!--Qty-->
                <div style="flex:2"><strong> Total </strong></div> <!--Total-->
            </div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"> {{item.product.name}}</div>
                <div style="flex:2"> PKR {{item.product.price|floatformat:2}}</div>
                <div style="flex:2">
                    <p class="quantity"> {{item.quantity}} </p>
                    <div class="quantity">
                        <img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart"
                             src="{% static  'images/arrow-up.png' %}">

                        <img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart"
                             src="{% static  'images/arrow-down.png' %}">
                    </div>
                </div>
                <div style="flex:2"> PKR {{item.get_total|floatformat:2}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}