<!--To add Nav Bar from main.html we use extend-->
{% extends 'store/main.html' %}
<!--Now refer to  line 12-->

<!--Loading static directory for css and images-->
{% load static %}

<!--loading css from static's css directory - main.css for styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<!--We extended Navbar from main.html in 1st line-->
<!--Now we'll set where the context is gonna save -->

{% block content %}

<h1 style="text-align:center; padding-bottom:10px;">Checkout</h1>

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <hr>
                    <p>User Information:</p>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shopping-info">
                    <hr>

                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Zip code..">
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </div>

            </form>
        </div>
    </div>

    <br> <br>

    <div class="box-element hidden" id="payment-info">
        <small> PayPal Options </small>
    </div>

    <div class="col-lg-6">
        <div class="box-element">

            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart </a>
            <hr>
            <h3> Order Summary </h3><br>
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
                <div style="flex:2"><p>Item 1</p></div>
                <div style="flex:2"><p>PKR 20.00</p></div>
                <div style="flex:2"><p>x2</p></div>
            </div>

            <h5> Items: 2 </h5>
            <h5> Total: PKR. 40.00 </h5>
            <hr>
        </div>
    </div>

</div>

{% endblock content %}