<!--To add Nav Bar from main.html we use extend-->
{% extends 'store/main.html' %}
<!--Now refer to  line 12-->

<!--Loading static directory for css and images-->
{% load static %}

<!--loading css from static's css directory - main.css for styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<!--We extended Navbar from main.html in 1st line-->
<!--Now we'll set where the context is gonna save -->

{% block content %}

<!--Setting Layout for Product Cards-->

<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float:right;">PKR 20.</h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float:right;">PKR 20.</h4>
        </div>
    </div>

    <div class="col-lg-4">
        <!--Add Image in the Card-->
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <!--Box of a product-->
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float:right;">PKR 20.</h4>
        </div>
    </div>

</div>

{% endblock content %}

<!--Adding images to our page-->
<!--<img src="{% static 'images/cart.png' %}">-->